.wrapper {
  display: flex;
  flex-direction: row;

  .scroll-container,
  .scroll-area {
    height: 100vh;
    font-size: 60px;
  }

  .scroll-container {
    width: 50%;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .scroll-area {
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &:nth-of-type(1) {
      background: #49b293;
    }
    &:nth-of-type(2) {
      background: #c94e4b;
    }
    &:nth-of-type(3) {
      background: #4cc1be;
    }
    &:nth-of-type(4) {
      background: #8360a6;
    }
  }
}
